body {
    background-image: url(../images/train.jpg);
}

.page-header{
    font-size: 36px;
    color: white;
    text-align: center;
    height: 200px;
    padding-top: 70px;
}

.box-header{
    font-weight: bold;
    background-color: blue;
    color: white;
}

.header{
    font-weight: bold;
    text-align: center;
}

#schedule-header, .card-title{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #4b4b4b;
    padding-top: 10px;
    padding-bottom: 10px;
}

#schedule{
    border: 1px solid lightgray;
    margin-bottom: 20px;
}



